#sizer {
	margin-bottom: 2rem;
}

#plot-view {
	box-sizing: border-box;
	height: 300px;
	margin-right: 300px;
}

#plant-list {
	background: green;
	float: right;
	height: 300px;
	width: 300px;
}

#plot-grid {
	border: 1px solid black;
	height: 600px;
	margin: auto;
	width: 600px;
}

.plot-box {
	display: block;
	background-size: cover;
	background-color: #FFF;
	border: 1px #999 dotted;
	box-sizing: border-box;
	float: left;
	height: 30px;
	width: 30px;
}
