@import 'utils';
@import 'vars';
@import 'resize-button';
@import 'custom-modal';
@import 'form';
@import 'pick-quantity-row';
@import '../../node_modules/ionicons/scss/ionicons-variables';
@import '../../node_modules/ionicons/scss/ionicons-font';

body, html, #app {
	margin: 0;
	background: #F1F3F6;
	height: 100%;
	font-family: 'Raleway';
}

h6 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 0.25em;
	color: #333;
}

input {
	display: block;
	margin: 0;
	border: 1px solid $borderColor;
	padding: 0.55em;
	outline: none;
	transition: border-color 0.2s;
	box-sizing: border-box;

	&:focus {
		border-color: darken($borderColor, 10%);
	}
}

// select {
// 	height: 27px;
// 	height: calculateRem(28px);
// }

nav {
	height: $navHeight;
	height: calculateRem($navHeight);
	border-bottom: 1px solid $borderColor;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

.btn {
	border: 1px solid #e4e5e7;
	background-color: #fff;
	color: #6a6c6f;
	cursor: pointer;
	padding: 0.5em;
	box-sizing: border-box;
	font-family: 'Raleway';
	outline: none;

	&:hover {
		background-color: #fff;
		border-color: #d9dbdd;
		color: #606265;
	}
}

.lg {
	font-size: 1.2em;
}

.primary {
	background: $primaryButtonColor;
	color: #fff;
	transition: background-color 0.2s;

	&:hover {
		color: #fff;
		background: darken($primaryButtonColor, 10%);
	}
}

.color-bar {
	background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.plant-picker {
	width: $plantPickerWidth;
	width: calculateRem($plantPickerWidth);
	height: 100%;
	background: #fff;
	position: fixed;
	top: $navHeight;
	top: calculateRem($navHeight);
	left: 0;
	border-right: 1px solid $borderColor;
	box-sizing: border-box;
	overflow: scroll;

	.form-row {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.search {
		margin: 0.75em;

		.form-row {
			position: relative;
			@extend .ion;

			&:after {
				content: $ionicon-var-android-search;
				position: absolute;
				right: 6px;
				right: calculateRem(6px);
				top: 6px;
				top: calculateRem(6px);
				color: #ccc;
			}
		}

		input {
			width: 100%;
			padding-right: 36px;
			padding-right: calculateRem(36px);
		}
		// .hint {
		// 	@extend .ion;
		// 	display: block;
		// 	outline: none;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	border: 0;
		// 	background: #fff;
		// 	color: #ccc;
		// 	font-size: 1.2em;
		// 	display: block;
		// 	float: right;
		// 	width: 27px;
		// 	width: calculateRem(27px);
		// 	height: 27px;
		// 	height: calculateRem(27px);
		// 	border: 1px solid $borderColor;
		// 	border-left: none;
		// 	&:before { content: $ionicon-var-android-search; }
		// }
	}

	.filter-results {
		button {
			font-size: 16px;
			background: none;
			border: 0;
			display: block;
			padding: calculateRem(8px) 0.75em;
			cursor: pointer;
			outline: none;
			width: 100%;
			text-align: left;

			&.active {
				background: #ccc;
			}
		}

		img, .no-image {
			display: inline-block;
			width: 34px;
			width: calculateRem(34px);
			height: 34px;
			height: calculateRem(34px);
			vertical-align: top;
		}

		img {
			opacity: 0.7;
		}

		span {
			display: inline-block;
			line-height: 34px;
			vertical-align: top;
			margin-left: 0.4em;
			margin-left: 0.4rem;
			max-width: 114px;
   			overflow: hidden;
   			white-space: nowrap;
			text-overflow: ellipsis;
			text-transform: capitalize;
		}
	}
}

.no-image {
	text-align: center;
	background: #ececec;
	border-radius: 50%;
	color: #aaa;
	line-height: 34px;
	line-height: calculateRem(34px);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: capitalize;
	width: 2.125em;
	height: 2.125em;
	line-height: 2.125em;
}

.editor {
	height: 500px;
	margin-left: $plantPickerWidth;
	margin-top: $navHeight;
	padding: 1em;
}

.toolbar {
	background: #fff;
	padding: 0.2em;
	border: 1px solid $borderColor;
	overflow: hidden;
	text-align: center;
	line-height: 33px;
	line-height: calculateRem(33px);
	margin-bottom: 1em;
	
	button {
		@extend .btn;
		font-size: 14px;

		i {
			@extend .ion;
		}

		&.remove {
			i {
				&:before { content: $ionicon-var-backspace; }
			}

			&.active {
				color: #fff;
				background: $primaryButtonColor;
			}
		}

		&.resize {
			i {
				&:before { content: $ionicon-var-arrow-resize; }
			}
		}
	}

	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

// #sizer {
// 	margin-bottom: 2rem;
// }

// #plot-view {
// 	box-sizing: border-box;
// 	height: 300px;
// 	margin-right: 300px;
// }

// #plant-list {
// 	background: green;
// 	float: right;
// 	height: 300px;
// 	width: 300px;
// }

#plot-grid {
	border: 1px solid black;
	height: 600px;
	margin: auto;
	width: 600px;

	> div {
		display: block;
		background-size: cover;
		background-color: #FFF;
		border: 1px #999 dotted;
		box-sizing: border-box;
		float: left;
		height: 30px;
		width: 30px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		img {
			width: 100%;
			display: block;
			opacity: 0.5;
		}

		.no-image {
			width: 100%;
			height: 100%;
			line-height: 30px;
		}
	}
}

// .plot-box {
// 	display: block;
// 	background-size: cover;
// 	background-color: #FFF;
// 	border: 1px #999 dotted;
// 	box-sizing: border-box;
// 	float: left;
// 	height: 30px;
// 	width: 30px;
// }
